<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,400&family=Work+Sans:wght@400;500;600;700&display=swap');
</style>
*{
    
    font-family: Work Sans;
    font-weight: 400;
}
/* --------------------------------------
    /* Starting of header and banner section  */
------------------------------------------*/

.container{
    
    background-color:rgba(255, 144, 14, 0.1) ; 
    margin: 0;
    padding: 0;
    
}
.secondary_container{
    padding: 50px 240px 45px 240px;
    margin: 0;
}
h
.title_section{
    font-size: 45px;
    font-weight: 700;
    text-align: center;

}


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    
}
nav ul{
    display:flex ;
}
nav li{
    list-style: none;
    margin-left:50px;
    
    font-weight: 500;
    font-size: 18px;

    text-align: center;

}
nav ul a{
    text-decoration: none;
}
.banner-image img{
    width: 100%;
}
.content{
    padding: 0 250px ;
}
.content h1{
    
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin: 0 -53px;

}
.content p{
    margin-top: 20px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.btn{
    color: #FFFFFF;
    
    font-size: 20px;
    font-weight: 600;
    
    height: 64px;
    width: 180px;
    background: #FF900E;
    border-radius: 5px;
    border: 0;
    margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* -------------------------------------
    /* End of header and banner section  */
----------------------------------------*/

/*............................
        starting main section
........................... */
.center_portion{

    padding: 50px 301px 45px 301px;
    display: flex;
    
}



.gallery{
    display: grid;
    grid-template-columns:repeat(2,1fr);
}

.images{
    margin-left:10px;
    margin-bottom:10px;
}
.gallery img{
    width:100%
    
}
.side_content{
    margin-top: 73px;
    margin-left: 100px;
}
.first_side_title{
    color: #727272;  
    font-size: 45px;
    font-weight: 500;
    text-align: left;
    margin:0;



}
.for_design{
    color: #131313;
    font-size: 45px;
    font-weight: 500;
    text-align: left;
    margin:0;

}
.second_side_title{
    margin:0;
    color: #FF900E;  
    font-size: 45px;
    font-weight: 500;
    text-align: left;

}
.side_article{
    color: #727272;
    
    font-size: 16px;
    font-weight: 400;
    text-align: left;

}
.side_content button{
    margin-left: 0;


}



.hide{
    display: none;
}